<%- include('partials/navbar.ejs') %>

  <main>
    <div class="question-list">
      <div class="actions">
        <form method="post" action="/search">
          <input type="text" placeholder="Search problem by name" name="query" />
          <button type="submit" id="search">Search</button>
        </form>
        <button><a id="create-poll" href="/create">Create a poll</a></button>
      </div>
      <ul>
        <% for(var i=0; i<problems.length ; i++) { %>
          <div class="list-element">
            <li>
              <a href="problems/<%= problems[i].id %>/">
                <%= problems[i].question %>
              </a>
              <span class="created-date">Created on: <%= problems[i].time %></span>
            </li>
            <span class="owner created-date" style="float: right;">Created by: <%= problems[i].owner %></span>
            <br>
          </div>
          <% } %>
      </ul>
    </div>
  </main>
  <script src="/javascript/choice.js"></script>
</body>

</html>