<%- include('partials/navbar.ejs') %>

  <div class="choice">
    <form action="" method="post">
      <input type="hidden" />
      <fieldset>
        <legend>
          <h1>
            <%= problems.question %>
          </h1>
        </legend>
        <% for(var i=0; i<problems.choice.length ; i++) { %>
          <label for="choice<%=i%>">
            <input type="radio" name="choice" id="choice<%=i%>" value="choice<%=i%>" required />
            <span>
              <%= problems.choice[i].name %>
            </span>
          </label>
          <br />
          <% } %>
      </fieldset>
      <input type="submit" value="Vote" />
    </form>
    <br />
    <p>
      <%= message %>
    </p>
    <br />

  </div>
  <div class="stats">
    <fieldset>
      <legend>
        <h1>Poll stats</h1>
      </legend>
      <p>Choice -- Total votes</p>
      <ul>
        <% for(var i=0; i<problems.choice.length ; i++) { %>
          <li>
            <%= problems.choice[i].name %> -- <%= problems.choice[i].voteCount %>
                votes
          </li>
          <% } %>
      </ul>
    </fieldset>
  </div>
  <script src="/javascript/choice.js"></script>
</body>

</html>