<%- include('partials/navbar.ejs') %>

  <div class="choice">
    <form action="" method="post">
      <input type="hidden" />
      <fieldset>
        <legend>
          <h1>
            <%= problems.question %>
          </h1>
        </legend>
        <% for(var i=0; i<problems.choice.length ; i++) { %>
          <label for="choice<%=i%>">
            <input type="radio" name="choice" id="choice<%=i%>" value="choice<%=i%>" required />
            <span>
              <%= problems.choice[i].name %>
            </span>
          </label>
          <br />
          <% } %>
      </fieldset>
      <input type="submit" value="Vote" />
    </form>
    <br />
    <p>
      <%= message %>
    </p>
    <br />
    <p>Share the vote link</p>
     <!-- 🗳️ Your voice matters! Join us in making a difference by casting your vote for . Click here to vote now: http://polls-ts0t.com/problems/problems.id Let's shape the future together! 🌟 #VoteForChange.  -->
    <a href="whatsapp://send?text=🗳️ Your voice matters! Join us in making a difference by casting your vote for . %0a Click here to vote now: http://polls-ts0t.onrender.com/problems/<%=problems.id%>.%0a %0a Let's shape the future together! 🌟 %0a %23VoteForChange." data-action="share/whatsapp/share"><img src="/img/WhatsApp_icon.png" alt="Whatsapp" class="social-btn"></a>
    <a href="https://t.me/share/url?url=http://polls-ts0t.com/problems/<%=problems.id%>&text=🗳️ Your voice matters! Join us in making a difference by casting your vote for <%=problems.question%>. Click here to vote now: http://polls-ts0t.com/problems/<%=problems.id%> %0a %0a Let's shape the future together!🌟%0a%23VoteForChange."><img src="/img/telegram_icon.png" alt="Telegram" class="social-btn"></a>
  </div>
  <div class="stats">
    <fieldset>
      <legend>
        <h1>Poll stats</h1>
      </legend>
      <p>Choice -- Total votes</p>
      <ul>
        <% for(var i=0; i<problems.choice.length ; i++) { %>
          <li>
            <%= problems.choice[i].name %> -- <%= problems.choice[i].voteCount %>
                votes
          </li>
          <% } %>
      </ul>
    </fieldset>
  </div>
  <script src="/javascript/choice.js"></script>
</body>

</html>